<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

  <h1>🌦️ Weather App</h1>

  <!-- ✅ DATE TIME HERE -->
  <p id="datetime" style="margin-top:10px; font-size:14px; opacity:0.8;"></p>

  <form method="POST">
    <input type="text" name="city" placeholder="Enter city">
    <button type="submit">Get Weather</button>
  </form>

  {% if weather %}
    <h2 style="font-size: 28px; text-transform: capitalize;">
      {{ weather.city }}
    </h2>

    <h1 class="main-temp">{{ icon }} {{ weather.temp }}°C</h1>
<p class="note">
  ⚠️ Note: Weather data may vary based on real-time API responses.
</p>
    <p style="text-transform: capitalize;">
      {{ weather.description }}
    </p>
  {% endif %}

  {% if error %}
    <p class="error">{{ error }}</p>
  {% endif %}
   <!-- ✅ NOTE YAHAN ADD KARO -->
  <p class="note">
    ⚠️ Note: Weather data may vary based on real-time API responses.
  </p>
</div>

<!-- ✅ SCRIPT ALWAYS AT BOTTOM -->
<script>
function updateTime() {
    const now = new Date();
    const formatted = now.toLocaleString();
    document.getElementById("datetime").innerHTML = formatted;
}

updateTime();
setInterval(updateTime, 1000);
</script>

</body>
</html>